body {
    margin: 0;
    padding: 0;
    color: var(--color-text);
    background-color: black;
    font-family: "source-code-pro", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-position: 50% 50%;
    height: 100vh;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: none;
    color: #fff;
}

.nav-links a {
    color: #fff;
}


/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 25px;
    background: none;
}

.menu li:hover {
    background-color: #ffffff;
    border-radius: 20px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

input[type=checkbox] {
    display: none;
}

/* HAMBURGER MENU */
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background: none;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #ffffff;
        color: black;
        border-radius: 20px;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }

    .dropdown li:hover {
        background-color: #4c9e9e;
    }
}